<?xml version='1.0' encoding='utf-8'?>
<widget id="com.indie.miami" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Indie Miami</name>
    <description>Indie Miami x Grim Dawn Archer</description>
    <author email="dev@example.com" href="https://github.com/gborisl94/dora">gborisl94</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="24" />
    </platform>
</widget>